@import '@/styles/mixins.scss';

:root {
  // colors
  --theme-color: rgb(36, 36, 36);

  --primary-color: rgb(255, 255, 255);

  --secondary-color: rgb(150, 149, 147);
  --secondary-color-50: rgba(150, 149, 147, .5);

  --tertiary-color: rgb(241, 241, 241);

  // borders
  --border-color-light: rgb(49, 49, 49);
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: var(--theme-color);
	color: var(--primary-color);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

input {
  margin: 0;
  border: 0;
  border-radius: 4px;

  &:focus {
    outline: none;
    box-shadow: var(--border-color-light) 0px 5px 15px;
  }

  &[type='submit'] {
    cursor: pointer;
  }
}

.layout {
  padding: 150px 28px;

  @include tabletOrHigher {
    padding: 120px 28px;
  }
}