@import '@/styles/mixins.scss';

.Header {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: var(--theme-color);
  align-items: center;
  gap: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid var(--border-color-light);
  padding: 24px;

  @include tabletOrHigher {
    flex-direction: row;
  }
}