@import '@/styles/mixins.scss';

.Search {
  display: flex;
  flex: 1;
  gap: 8px;
  margin-left: auto;
  font-size: 18px;
  width: 100%;

  @include tabletOrHigher {
    width: auto;
  }

  &__inputWrapper {
    margin-left: auto;
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;

    @include tabletOrHigher {
      max-width: 450px;
    }
  }

  &__inputClear {
    position: absolute;
    right: 4px;
    color: var(--theme-color);
    font-size: 24px;
    cursor: pointer;
  }

  &__input {
    padding: 8px;
    width: 100%;
    font-size: inherit;

    &--hasValue {
      padding-right: 32px;
    }
  }

  &__submit {
    width: 80px;
    background: var(--theme-color);
    color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    font-size: inherit;

    &:hover {
      transition: color ease .3s, background ease .6s;
      background: var(--tertiary-color);
      color: var(--theme-color);
    }

    &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}